.post-link {
	color: black;
	text-decoration: none;
}

.post-preview-box {
	padding: 5% 15%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background-size: cover;
	transition: 0.3s;
}

.post-preview-box:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.post-title {
	font-size: 2.5em;
	font-weight: bold;
	margin: 0;
}

.post-info {
	font-size: 0.9em;
	letter-spacing: 0.1em;
	color: rgba(56,56,56,0.5);
	text-transform: uppercase;
}

.post-blurb {
	color: #555555;
}

@media (max-width: 1000px) {
	.post-preview-box {
		padding: 7.5% 12.5%;
	}
}

@media (max-width: 576px) {
	.post-preview-box {
		padding: 5%;
	}
}